@model Inventory_and_Asset_Management_2._0.Models.ItemModel
@using Inventory_and_Asset_Management_2._0.Models;
@{
    ViewBag.Title = "ItemInformation";
}



@{
    if (Session["userType"] != null && Session["userType"].ToString().Equals("2"))
    {
        <h2>ItemInformation</h2>
        @Html.ActionLink("Technician Main page", "TechnicianMainpage")<br />
        <label>Item Brand : </label> @Html.Label("itemBrand", @Model.item_brand, new { id = "itemBrand" }) <br />
        <label>Item Name : </label> @Html.Label("itemName", @Model.item_name, new { id = "itemName" }) <br />
        <label>Item Description : </label> @Html.Label("itemDescription", @Model.item_description, new { id = "itemDescription" }) <br />
        <label>Item Start Date : </label> @Html.Label("startDate", @Model.item_startDate.ToString()) <br />
        <label>Item End Date : </label> @Html.Label("endDate", @Model.item_endDate.ToString(), new { id = "itemEndDate" }) <br />
        <label>Item Status : </label>
        if (@Model.item_status == 1)
        {
            @Html.Label("itemStatus", "Good", new { id = "itemStatus" }) <br />
        }
        else if(@Model.item_status == 2){
            @Html.Label("itemStatus", "Normal", new { id = "itemStatus" }) <br />
        }
        else{
            @Html.Label("itemStatus", "Broken", new { id = "itemStatus" }) <br />
        }
        <label>CMU number : </label> @Html.Label("cmuNumber", @Model.item_cmuNumber, new { id = "cmuNumber" })<br />
        <label>CAMT number : </label>@Html.Label("camtNumber", @Model.item_camtNumber, new { id = "camtNumber" })<br />
        <label>Serial number : </label> <label>@Html.Label("serialNumber", @Model.item_serialNumber, new { id = "serialNumber" })<br /></label> <br />
        <label>Item Picture : </label><img src="@Url.Content("~/Content/ItemPics/" + @Model.item_picture)" /><br /><br />

    }
    else
    {
        <script>
            alert("Please login by Technician");
        </script>
        @Html.Action("Index");
    }
}