@model IEnumerable<Inventory_and_Asset_Management_2._0.Models.ReportModel>
@using Inventory_and_Asset_Management_2._0.Models;
@{
    ViewBag.Title = "Repairing";
}


@{
    if (Session["userType"] != null && Session["userType"].ToString().Equals("2"))
    {
        <h2>Repairing</h2>
        @Html.ActionLink("Technician Main page", "TechnicianMainpage")<br />
        @Html.ActionLink("Repairing History", "RepairingHistory")

    <table>
    <tr>
        <th>No.</th>
        <th>Item Name</th>
        <th>Broken type</th>
        <th>Start Date</th>
        <th>Contract</th>
        <th>reporter Name</th>
    </tr>
    @{
        int i = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>
                    @using (Html.BeginForm("RepairingInformation", "Technician", FormMethod.Get))
{
                        @Html.Hidden("reportId", item.report_id);
                        <button>@item.item_id.item_name</button>
                    }

                </td>
                <td>@item.report_typeBroken</td>
                <td>@item.report_startDate</td>
                <td>@item.report_contact</td>
                <td>
                    @using (Html.BeginForm("ReporterInformation", "Technician", FormMethod.Get))
                    {

                        @Html.Hidden("reporterId", item.reporter_id.user_id);
                        <button>@item.reporter_id.user_name</button>
                    }

                </td>
            </tr>
                    i++;
        }
    }
</table>


    }
    else
    {
        <script>
            alert("Please login by Technician");
        </script>
        @Html.Action("Index");
    }
}