@model Inventory_and_Asset_Management_2._0.Models.ReportModel
@using Inventory_and_Asset_Management_2._0.Models;
@{
    ViewBag.Title = "RepairingHistoryInformation";
}



@{
    if (Session["userType"] != null && Session["userType"].ToString().Equals("2"))
    {
        <h2>RepairingHistoryInformation</h2>
        @Html.ActionLink("Repairing", "Repairing")<br />

        <div>
            <label>Item Brand : </label> @Html.Label("itemBrand", @Model.item_id.item_brand, new { id = "itemBrand" }) <br />
            <label>Item Name : </label> @Html.Label("itemName", @Model.item_id.item_name, new { id = "itemName" }) <br />
            <label>Item Description : </label> @Html.Label("itemDescription", @Model.item_id.item_description, new { id = "itemDescription" }) <br />
            <label>Item Start Date : </label> @Html.Label("itemStartDate", @Model.item_id.item_startDate.ToString(), new { id = "itemStartDate" }) <br />
            <label>Item End Date : </label> @Html.Label("itemEndDate", @Model.item_id.item_endDate.ToString(), new { id = "itemEndDate" }) <br />
            <label>Item Status : </label>

            @{
        if (@Model.item_id.item_status == 1)
        {
            <label>Good</label><br />
        }
        else if (@Model.item_id.item_status == 2)
        {
            <label>Broken</label><br />
        }
        else
        {
            <label>Expire</label><br />
        }
            }
            <label>CMU number : </label> @Html.Label("itemCmuNumber", @Model.item_id.item_cmuNumber, new { id = "itemCmuNumber" })<br />
            <label>CAMT number : </label> @Html.Label("itemCamtNumber", @Model.item_id.item_camtNumber, new { id = "itemCamtNumber" }) <br />
            <label>Serial number : </label> @Html.Label("itemSerialNumber", @Model.item_id.item_serialNumber, new { id = "itemSerialNumber" }) <br />
            <label>Item Picture : </label><img src="@Url.Content("~/Content/ItemPics/" + @Model.item_id.item_picture)" /><br /><br />
        </div>




        <div>
            <h2>Repairing Process</h2><br />
                <label>Broken Type</label> @Html.Label("brokenType", @Model.report_typeBroken, new { id = "brokenType" })<br />
                <label>Broken Description</label>  @Html.Label("brokenDescription", @Model.report_case, new { id = "brokenDescription" })<br />
                <label>Reporter contract</label>  @Html.Label("reportContract", @Model.report_contact, new { id = "reportContract" })<br />
                <label>Repairing Description</label> @Html.Label("reparingDescription", @Model.report_repairDetail, new { id = "reparingDescription" })
        </div>

    }
    else
    {
        <script>
            alert("Please login by Technician");
        </script>
        @Html.Action("Index");
    }
}